{% extends 'dtree/base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add LDS id to Dataset</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" >
                        {% csrf_token %}
                        {% include 'dtree/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <button type="submit" class="btn btn-inverse btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Adding the LDS id</h3>
                    <p>Each LDS id represents a layer. Where a dataset has multiple layers, multiple ids can be provide in a comma separated format</p>
                </div>
            </div>
       </div>
    </div>
</div>
{% endblock %}
