{% extends 'dtree/base.html' %}

{% block body %}
<div class="col-sm-12 col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">	
			<h1> NZGOAL decision tree </h1>
		
			<p>Prior to loading a dataset  the LINZ Data Service it must be confirmed the
			<a href="https://www.ict.govt.nz/guidance-and-resources/open-government/new-zealand-government-open-access-and-licensing-nzgoal-framework/decision-tree/" target="_blank"> NZGOAL Decision Tree</a>
			has been followed and adhered to
			</p>
			
			<p>By navigating to the "add dataset" page a new dataset can be evaluated prior to publishing and
			shall only be published once it has been proven to meet the NZGOAL frame work decision tree. </p>
			
			<p> Once a dataset has been published the LDS id must be added against the dataset (navigate to "datasets") 
			This id is used to perform the audit function. At determined times via the "Audit" audits are ran. 
			This all new data set ids between audit dates are comapred to the datasets stored as part of this web interface
			to comfirm that they have gone through the NZGOAL decsion tree prior to publishing
			</p>
		</div>
	</div>
</div>
	
{% endblock %}