{% extends 'dtree/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Audit</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" >
                        {% csrf_token %}
                        {% include 'dtree/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" class="btn btn-inverse btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
		<div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Auditing</h3>
                    <p>The audit retrieves all the LDS dataset between the supplied dates. These datasets are compared
                    to the datasets inputed into this website that have undergone the complete decision tree.
                    Any datasets between these dates that have not undergone the complete decision tree but
                    have been published via the LDS will email to the supplied email address</p><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
