<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NZGOAL-Dtree{% endblock %}</title>
	<!-- Loads the path to your static files -->
	{% load staticfiles %}
	<!-- bootstrap code first so that when can then override it -->
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'dtree/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   

</head>
<body>

<nav class="navbar-custom navbar-inverse">
	<div class="container-fluid">
		<!-- Logo -->
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
			<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="{% url 'about' %}">NZGOAL-Dtree</a>
		</div>
	
	<!-- Items -->
    <div class="collapse navbar-collapse" id="topNavBar">
    	<ul class="nav navbar-nav">
                <li class="">
                	<a href="{% url 'datasets' %}">
                		<span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp; Datasets
                	</a>
                </li>
		    	<li class="">
		            <a href="{% url 'createdataset' %}">
		                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; New Dataset
		            </a>
		        </li>
           </ul>
		   <ul class="nav navbar-nav navbar-right">
		        <li class="">
		            <a href="{% url 'audit' %}">
		                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>&nbsp; Audit
		            </a>    
                <li class="">
                	<a href="{% url 'about' %}">
                		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; About
                	</a>
                </li>      
		       </li>         
		    </ul>
        </div>
	</div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>
